/**
 * Created by jaxsen on 7/13/2017 @ 5:24 AM.
 */

let config = {};

//// TWITCH SETTINGS
// twitch bot info
config.twitchuser = ""; // bot username
config.twitchpass = ""; // bot oauth password
config.twitchclientid = ""; // blot client id
config.twitchchats = [""]; // put channel names that you want the bot to join
// misc
config.twitchprefix = "!"; // what prefix do you want bot commands to require

//// DISCORD SETTINGS
// bot info
config.discordtoken = ""; // bot token [https://discordapp.com/developers/applications/me]
// misc
config.discordprefix = "!"; // what prefix do you want bot commands to require TODO::multiple character prefix

module.exports = config;